#content {
    max-width: 1600px;
    margin: 0 auto;
  }
  nav a,
#hero-msg h1, #hero-msg h4,
.button-box,
main section{
    text-align: center;
}
#background {
    height: 725px;
}
body, .book, .join{
    background-color: #fcfbfb; 
}
header, .book:hover, .join:hover {
    background-color:rgba(20,30,13, .7);
}
nav a:hover, #background,
.msg,
footer {
    background-color: #6f7364;
}
nav a:hover,
nav a,
h4,
footer h3,
footer a,
footer a:hover {
    background-color: none;
    color: black;
    
}  
.book, .join,
.book:hover, .join:hover
{
    background-color: #d9c2a3;
    color: black;
    text-align: center;
    font-size: 1.2em;
}
#hero-img{
    width:100%;
}  
.icon, .logo {
    width: 80px;
}
nav a,
.book, .join,
footer a {
    
    color: #d9c2a3;
    text-decoration: none;
}    
footer p {
    font-size: 1.2em;
} 
footer p a:hover {
    text-decoration: underline;
}  
.home-title {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 5em;
    margin-top: 10px;
    color: #d9c2a3;
}
.book, .join {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 1.2em;
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 15px 30px;
    margin-top: 50px;
}
.card-img {
    border: 10px solid #d9c2a3;
}
main section img {
    box-sizing: border-box;
}
.msg p {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 3em;
    text-decoration: none;
    color: black;
    text-align: center;
    padding-bottom: 15px;
}  
.msg {
    background-color: #6f7364;
    line-height: 1.5em;
  }
body {
    background-color: #fcfbfb;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
nav a,.msg  {
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding: 35px;
}
#logo_link {
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding-top: 5px;
}
.icon {
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding-top: 10px;
}

footer {
    text-decoration: none;
    color: #d9c2a3;
    padding: 25px 50px;
    margin-top: 200px;
}
footer .social img {
    text-decoration: none;
    color: #d9c2a3;
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}